<<<<<<< HEAD
=======
<<<<<<< HEAD
<<<<<<< HEAD
<<<<<<< HEAD
﻿<h1>Gio Hàng RÔNG</h1>
=======
=======
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
﻿@{
    ViewData["Title"] = "Giỏ hàng rỗng";
}

<div class="alert alert-warning" role="alert">
    <h4 class="alert-heading">Giỏ hàng của bạn hiện đang trống!</h4>
    <p>Chưa có sản phẩm nào trong giỏ hàng. Hãy thêm sản phẩm để mua sắm.</p>
    <hr>
    <p class="mb-0">Trở lại <a href="@Url.Action("Index", "Home")">trang chủ</a> để tiếp tục mua sắm.</p>
</div>
<<<<<<< HEAD
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
>>>>>>> 71b5da4b29821cdcf62ed5021b9245bc3f2a3f69
=======
>>>>>>> 84ef2e2a2e6766f5c3a7b16d45021bc12ce25033
﻿@{
    ViewData["Title"] = "Giỏ Hàng Trống";
}

    <style>
        .container {
            text-align: center;
        }

        .image {
            width: 150px;
            height: 150px;
            margin-bottom: 20px;
        }
    </style>


    <!-- Hình ảnh giỏ hàng trống -->
    <img class="image" src="@Url.Content("~/uploads/anh.png")" alt="Giỏ hàng trống">
    <h2 class="display-4 text-dark">Bạn chưa chọn sản phẩm.</h2>
    <p class="lead text-muted">Hãy nhanh tay chọn ngay sản phẩm yêu thích.</p>
    <!-- Nút quay lại chọn sản phẩm -->
    <a href="@Url.Action("Index", "LoadSanPham")" class="btn btn-success btn-lg">Chọn sản phẩm</a>


<<<<<<< HEAD
=======
>>>>>>> c0fb83d (tam xong user)
>>>>>>> 84ef2e2a2e6766f5c3a7b16d45021bc12ce25033
